img{
  margin-left: 10px;
  padding: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

header{
  background-image: url("https://uploads-ssl.webflow.com/614c9f162ff862f2367dbdb1/614f7648ae0e3479d33eb72c_bg-body-top.jpg");
  background-size: 100%;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color:#aa205a;
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
  background-color: #aa205a;
  color: white;
}

.right-side-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}

.right-side{
  display: flex;
  align-items: center;
}



