<form class="container container-margin" *ngIf="!isLoading && isValidUser" [formGroup]="userForm">
  <img [src]="consultant.photo" alt="persons photo">
  <div class="name-and-role">
  <label for="name">Name:
  <input type="text" id="name" formControlName="name">
  </label>
  <label for="role">Role:
    <select name="role" id="role" formControlName="role">
      <option *ngFor="let role of roleOptions" [value]="role">{{role}}</option>
    </select>
  </label>
  </div>

  <div formArrayName="skills">
  <div class="skill-container container-margin">
    <h4 class="skill-item">Technology</h4>
    <h4 class="skill-item">Seniority</h4>
    <h4 class="skill-item">Years</h4>
    <div>
      <button style="visibility: hidden">X</button>
    </div>
  </div>
    <div class="skill-container" *ngFor="let skill of getControls('skills'); let i = index" [formGroupName]="i">
      <input type="text" class="skill-item" formControlName="technology">
      <select class="skill-item dropdown" name="seniority" id="seniority" formControlName="seniority">
        <option *ngFor="let seniority of seniorityOptions" [value]="seniority">{{seniority}}</option>
      </select>
      <input type="text" class="skill-item" formControlName="years">
      <div>
        <button (click)="removeSkill(i)" style="background-color: red">X</button>
      </div>
   </div>
  <button type="button" class="remove-button" (click)="addSkill()">Add skill</button>
  </div>

  <div formArrayName="languages">
  <div class="skill-container container-margin">
    <h5 class="language-item">Language</h5>
    <h5 class="language-item" style="margin-right: 30px">Level</h5>
  </div>
    <div class="skill-container"  *ngFor="let language of getControls('languages'); let i = index" [formGroupName]="i">
      <input type="text" class="language-item" formControlName="language">
      <select class="language-item" name="level" id="level" formControlName="level">
        <option *ngFor="let level of levelOptions" [value]="level">{{level}}</option>
      </select>
      <button (click)="removeLanguage(i)" style="background-color: red">X</button>
    </div>
  <button type="button" (click)="addLanguage()">Add language</button>
  </div>

  <div class="edit-buttons">
  <button (click)="saveEdit()">SAVE</button>
  <button type="button" routerLink="..">CANCEL</button>
  </div>

</form>



<div *ngIf="!isLoading && !isValidUser" class="user-not-found">
  <p>The user doesn't exist.</p>
  <button type="button" routerLink="">Go to homepage</button>
</div>
