.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-margin{
  margin-top: 20px;
}

.skill-container{
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.skill-item{
  padding: 5px;
  width: calc(50vw/3);
  border: 1px solid black;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.language-item{
  width: calc(50vw/2);
  padding: 5px;
}


.user-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown{
  width: calc(50vw/3 + 11px);
}

.name-and-role{
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

#role {
  margin-left: 10px;
  width: 166px;
  height: 32px;
}

#name{
  height: 30px;
}

#photo{
  height: 30px;
}

