.consultant-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  gap: 10px;
  margin: 10px;
  cursor: pointer;
}

.consultant-container:hover{
  background-color: rgba(10,10,10,0.15);
}

.search-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

input{
  margin: 10px;
}






